<div id="mansingInFrame">
  <div id="singInFram">
    <form #f="ngForm">
      <h2>Login</h2>
      <table>

        <tr>
          <td>
            <label class="label" for="mail">E-mail:</label>
          </td>
          <td>
            <input [(ngModel)]="base.emailAddress" #ctrl="ngModel" required class="input" autocomplete="username"
              type="email" id="mail" name="user_mail" placeholder="E-mail" #emailInput
              (change)="emailChange(emailInput.value)" />
            <div>{{emailAlert}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <label class="label" for="current-pass">Password:</label>
          </td>
          <td>
            <input class="input" autocomplete="current-password" type="password" id="current-pass"
              name="user_current-password" placeholder="Password" #password (change)="passwordChange(password.value)" />
            <div>{{passwordAlert}}</div>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <button (click)="submitSignIn(emailInput.value,password.value)" id="singInbut">Sign In</button>
            <div>{{signInValidation}}</div>
          </td>
        </tr>

        <tr>
          <td>
          </td>
          <td>
            <a routerLink="./../register" class="routerLink">Register</a>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <a routerLink="./../forget-password" class="routerLink">Forget Password</a>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <app-advertise></app-advertise>
</div>