#mansingInFrame {
    text-align: center;
}

#singInFram {
    display: inline-block;
    width: auto;
    text-align: left;
}

.label {
    padding: 5px 15px 5px 15px;
    width: 80px;
    display: inline-block;
    height: 30px;
    margin-top: 10px;
}

.input {
    display: inline-block;
    width: 200px;
    padding: 0px 0px 0px 5px;
    height: 30px;
    margin-top: 10px;
}

#singInbut {
    padding: 7px 20px 7px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

td div {
    color: #980E0E;
}

h2 {
    padding-top: 10px;
    padding-left: 15px;
}