<p id="info">
  {{information}}
</p>
<div id="mainChangeForgotFrame">
  <div id="changeForgotFrame">
    <h2>Change password</h2>
    <form #changeForgotForm="ngForm">
      <table>
        <tr>
          <td>
            <label class="label" for="new-password">Password:</label>
          </td>
          <td>
            <input required class="input" type="password" name='new-password-name' autocomplete="new-password"
              id="new-password" placeholder="New Password" #newPasswordInput
              (change)="newPasswordChange(newPasswordInput.value)" [(ngModel)]='pass_value' />
            <div>{{newPass}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <label class="label" for="confirm">Confirm:</label>
          </td>
          <td>
            <input required class="input" type="password" name='confirm-name' id="confirm" autocomplete="new-password"
              placeholder="Confirm" #confirmInput (change)="confirmChange(newPasswordInput.value,confirmInput.value)"
              [(ngModel)]='confirm_value' />
            <div>{{confirm}}</div>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <button id="registerButtonID"
              (click)="submitChangePass(newPasswordInput.value,confirmInput.value)">Submit</button>
            <div>{{changePassValidation}}</div>
          </td>
        </tr>

      </table>
    </form>
  </div>
  <app-advertise></app-advertise>
</div>