 .titleDiv {
   font-size: 26px;
   font-weight: 600px;
   padding: 20px 20px;
 }

 .contentDiv {
   font-size: 20px;
   font-weight: 400px;
   padding: 20px 20px;
 }

 #adminFrame {
   margin: 5px 40px;
 }

 :host ::ng-deep .ck-editor {
   width: 90%;
   margin-top: 5px;
 }

 #adminFrame .bigInput {
   width: 90%;
   margin-top: 5px;
   height: 25px;
   padding: 1px 3px;
 }

 #adminFrame select {
   margin-top: 5px;
   height: 25px;
   padding: 1px 3px;
 }

 #adminFrame button {
   font-size: 12px;
   margin: 3px 20px;
 }

 .checkboxdiv input {
   width: 15px;
   height: 15px;
 }

 .itemListdelete {
   cursor: pointer;
   color: red;
 }

 .itemListDrag {
   cursor: grab;
 }

 .editPan {
   right: 0px;
   top: 0px;
   line-height: 20px;
   text-align: center;
   width: 20px;
   height: 20px;
   font-size: 14px;
   text-align: center;
   cursor: pointer;
   background-color: rgba(200, 200, 200, 0.1);
   border-radius: 2px;
   border: 1px solid #dddddd;
   display: none;
 }

 .titleSpan:hover .editTitle {
   display: inline-block;
 }
  .descriptionDev:hover .editDes {
   display: inline-block;
 }
 .editInput
 {
   height: 25px;
   padding: 1px 3px;
   width:250px;
 }
  .editTitleSpan button
 {
   font-size: 12px;
   margin: 1px 5px;
 }
 .pointer
 {
   cursor: pointer;
 }
 
   .editDes button
 {
   font-size: 12px;
   margin: 1px 5px;
 }