<div>
  <ul cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="newOrder($event)">
    <li *ngFor="let page_content of page_contents;" (click)="$event.stopPropagation()">
      <div class="titleDiv">
        <i *ngIf="base.canAdmin" (click)="delete(page_content['id'])" class="material-icons itemListdelete"
          (click)="$event.stopPropagation()">remove_circle_outline</i>
        <i *ngIf="base.canAdmin" class="material-icons itemListDrag" cdkDrag>reorder</i>
        <span *ngIf="showEditNum!=page_content['id']" class="titleSpan" [ngClass]="(base.canAdmin)?'pointer':''"
          (click)="base.canAdmin?(showEditNum=page_content['id']):null;"><i *ngIf="base.canAdmin"
            class="material-icons editTitle editPan">edit</i>{{page_content['title']}}</span>
        <span *ngIf="base.canAdmin && showEditNum==page_content['id']" class="editTitleSpan">
          <input class="editInput" type="text" name="fname" autocomplete="off" placeholder="Title"
            value="{{page_content['title']}}" id="{{'editTitleInput'+page_content['id']}}">
          <button (click)="saveTopicEdit(page_content['id'])">Save</button>
          <button (click)="showEditNum=0;">Cancel</button>
        </span>
      </div>
      <div *ngIf="page_content['type'] == 2" class="contentDiv">
        <iframe width="560" height="315" [src]="getUrl(page_content['link'])" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" webkitallowfullscreen
          mozallowfullscreen allowfullscreen>
        </iframe>
      </div>
      <div class="contentDiv" *ngIf="page_content['type'] == 1">
        <div *ngIf="showDesEditNum!=page_content['id']" class="descriptionDev" [ngClass]="(base.canAdmin)?'pointer':''"
          (click)="base.canAdmin?(showDesEditNum=page_content['id']):null;desChange[page_content['id']] = page_content['description'];">
          <i *ngIf="base.canAdmin" class="material-icons editDes editPan">edit</i>
          <span [innerHTML]="page_content['description']"></span>
        </div>
        <div class="editDes" *ngIf="showDesEditNum==page_content['id']">

          <ckeditor [editor]="Editor" (change)="desChangeEditor($event,page_content['id'])"
            data="{{page_content['description']}}" tagName="textarea"></ckeditor>
          <button (click)="saveDesChange(page_content['id'])">Save</button>
          <button (click)="showDesEditNum=0;">Cancel</button>

        </div>
      </div>
    </li>
  </ul>
</div>






<!--add item-->

<div *ngIf="base.canAdmin" id="adminFrame">
  <button *ngIf="!addItemStatus" (click)="hideShowAdd()">Add Item</button>
  <div id="addDiv" *ngIf="addItemStatus">
    <input #titleInput id="addTitle" class="bigInput" type="text" name="fname" autocomplete="off"
      placeholder="Title"><br>
    <select (change)="selectedType = $event.target.value;base.scrollToButtom();">
      <option value="0" selected disabled>Select type</option>
      <option value="1">Text</option>
      <option value="2">Video</option>
    </select><br>
    <input #linkInput [style.display]="selectedType!=2?'none':'inherit'" id="addLink" type="text" name="fname"
      autocomplete="off" placeholder="Youtube Video ID(11 digit length and after 'v=' in youtube url )"
      class="bigInput" />
    <ckeditor [editor]="Editor" (change)="changeDes($event)" *ngIf="selectedType==1" tagName="textarea"></ckeditor>
    <div *ngIf="selectedType != 0"><br><span>Who can see?</span>
      <div *ngFor="let access of accesses;" class="checkboxdiv">
        <input type="checkbox" id="checkbox{{access['access_num']}}" checked
          [disabled]="access['access_num']==9"><span>{{access['name']}}</span>
      </div>
    </div>
    <div *ngIf="selectedType != 0">
      <button (click)="addItem(titleInput.value, linkInput.value)">Save</button><button
        (click)="hideShowAdd()">Cancel</button>
    </div>

  </div>
  <br><br>
</div>