#topLine {
    width: 100%;
    height: 30px;
    background-color: #eeeeee;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}

#mainFrame {
    white-space: nowrap;
    height: calc(100vh - 80px);
    padding: 3px 3px;
    z-index: 0;
}

.layer_1Frame {
    background-color: #DDDDDD;
    width: 250px;
    display: inline-block;
    margin: 2px 2px;
    padding: 5px 5px;
    vertical-align: top;
    word-wrap: break-word;
}

.layer_1Title {
    position: relative;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-line;
}

.layer_1Name {
    font-size: 18px;
    font-weight: 700;
    position: relative;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    white-space: pre-line;
}

.layer_1Title:hover .layer_1Description {
    visibility: visible;
}

.layer_1Description {
    visibility: hidden;
    font-size: 14px;
    bottom: 100%;
    left: 0;
    margin-left: 0px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.layer_2Frame {
    background-color: #FFFFFF;
    width: 230px;
    margin: 5px 0px;
    padding: 10px 10px;
    white-space: pre-line;
    text-align: left;
    border-radius: 3px;
    cursor: pointer;
}

.layer_2Frame:hover {
    background-color: #EEEEEE;
}

#window {
    position: fixed;
    z-index: 90;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0px;
    left: 0px;
    cursor: pointer;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: center;
}

#popupWindow {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    min-width: 300px;
    max-width: 800px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    cursor: default;
}

#popupWindow .bigSide {
    border: 1px solid red;
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
}

#popupWindow #leftSide {
    width: 100%;
    min-width: 280px;
    max-width: 550px;
}

#popupWindow #rightSide {
    width: 245px;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.rightTDTitle {
    font-size: 18px;
    display: inline-block;
    padding-left: 5px;
    font-weight: 800;
}

.leftTD {
    width: 60px;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
}

#windowName {
    margin-top: 10px;
    font-size: 22px;
    display: inline-block;
    padding-left: 5px;
    font-weight: 800;
}

#card {
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

#card li {
    padding-left: 0px;
    margin-left: 0px;
    margin: 5px 10px;
}

#card li div {
    background-color: #ebeef0;
    padding: 5px 5px;
    width: 220;
    border-radius: 2px;
}

@media only screen and (min-width: 321px) and (max-device-width: 768px) {
    nav li {
        display: inline;
        font-size: 24px;
        margin-right: auto;
        margin-left: auto;
        padding: 0px 10px 0px 10px;
        text-align: center;
    }
}

/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
}