<div id="topLine">Some info

</div>
<div id="mainFrame">
  <div *ngFor="let layer_1Row of layer_1;" class="layer_1Frame" id="{{'layer_1'+layer_1Row['id']}}">
    <div class="layer_1Title">
      <div class="layer_1Name">{{layer_1Row['name']}}</div>
      <div class="layer_1Description">{{layer_1Row['description']}}</div>
    </div>
    <div class="layer_2Frame" *ngFor="let layer_2Row of getSecondLayer(layer_1Row['id']);"
      id="{{'layer_2'+layer_2Row['id']}}" (click)="openWindow(layer_2Row['id'],layer_2Row['name'])">

      {{layer_2Row['name']}}

    </div>
  </div>
</div>
<div id="window" *ngIf="windowDisplay" (click)="closeWindow()">
  <div id="container">
    <div id="popupWindow" (click)="$event.stopPropagation()">
      <div id="leftSide" class="bigSide">
        <table>
          <tr>
            <td class="leftTD"><i class="material-icons">description</i></td>
            <td class="rightTD">
              <div id="windowName">{{windowName}}</div>
            </td>
          </tr>
          <tr>
            <td class="leftTD"><i class="material-icons">reorder</i></td>
            <td class="rightTD">
              <div class="rightTDTitle"> Description</div>
              <div class="rightTDText"> Description</div>
            </td>
          </tr>
          <tr>
            <td class="leftTD"><i class="material-icons">reorder</i></td>
            <td class="rightTD">
              <div class="rightTDTitle"> Description</div>
              <div class="rightTDText"> Description</div>
            </td>
          </tr>
        </table>

      </div>
      <div id="rightSide" class="bigSide">
        <div id="closeButtonDiv" class="close" (click)="closeWindow()"></div>
        <ul style="list-style-type:none;" id="card">
          <li><div>Coffee</div></li>
          <li><div>Tea</div></li>
          <li><div>Milk</div></li>

        </ul>
      </div>



    </div>
  </div>
</div>