<div id="moduleFrame">
    <div id="container">
        <div *ngIf="base.canAdmin" class="moduleDiv hasAccessModule" id="adminAccessDiv"
            (click)="moduleFunc('admin-tool','true')">

            <div class="moduleName">Administration Tools</div>
            <div class="moduledescription">For Administration only.</div>
        </div>
        <div *ngFor="let module of modules;" [ngClass]="[(module['hasAccess'])?'hasAccessModule':'noAccessModule']"
            class="moduleDiv" id="{{'moduleid'+module['id']}}" 
            (click)="moduleFunc(module['dir_page'],module['hasAccess'])">

            <div class="moduleName">{{module['name']}}</div>
            <div class="moduledescription">{{module['description']}}</div>
            <div id="buttonDiv">
                <button (click)="navigateToPaymentPage()">Upgrade</button>
            </div>
        </div>
    </div>
</div>