h3 {
    text-align: center;
}

#moduleFrame {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: auto;
    max-width: 80vw;
    text-align: center;
}

.moduleDiv {
    vertical-align: top;
    display: inline-block;
    padding: 10px 10px;
    margin: 15px 15px;
    width: 200px;
    height: 250px;
    border-radius: 3px;
    border: 2px solid black;
    text-align: center;
    position: relative;
}

.moduleName {
    padding: 5px 5px;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.moduledescription {
    padding: 5px 5px;
    font-size: 16px;
    text-align: center;
}

.hasAccessModule {
    background-color: #ffffff;
    cursor: pointer;
}

.noAccessModule {
    background-color: rgba(200, 200, 200, 1);
}

#buttonDiv {
    position: absolute;
    bottom: 2px;
    left: 54px;
}

.hasAccessModule button {
    display: none;
}
