<ul>
  <li>
    <div (click)="changeSection(1)" class="titleDiv">
      Biomimetic
    </div>
    <div *ngIf="currentSection == 1" class="contentDiv">
      1
    </div>
  </li>
  <li>
    <div (click)="changeSection(2)" class="titleDiv">
      Cosmetics
    </div>
    <div *ngIf="currentSection == 2" class="contentDiv">
      2
    </div>
  </li>
  <li>
    <div (click)="changeSection(3)" class="titleDiv">
      Endodontics
    </div>
    <div *ngIf="currentSection == 3" class="contentDiv">
      3
    </div>
  </li>
  <li>
    <div (click)="changeSection(4)" class="titleDiv">
      Esthetic Dentistry
    </div>
    <div *ngIf="currentSection == 4" class="contentDiv">
      4
    </div>
  </li>
  <li>
    <div (click)="changeSection(5)" class="titleDiv">
      Implantology
    </div>
    <div *ngIf="currentSection == 5" class="contentDiv">
      5
    </div>
  </li>
  <li>
    <div (click)="changeSection(6)" class="titleDiv">
      Oral Facial Pain
    </div>
    <div *ngIf="currentSection == 6" class="contentDiv">
      6
    </div>
  </li>
  <li>
    <div (click)="changeSection(7)" class="titleDiv">
      Oral Microbiology
    </div>
    <div *ngIf="currentSection == 7" class="contentDiv">
      7
    </div>
  </li>
  <li>
    <div (click)="changeSection(8)" class="titleDiv">
      Oral Pathology
    </div>
    <div *ngIf="currentSection == 8" class="contentDiv">
      8
    </div>
  </li>
  <li>
    <div (click)="changeSection(9)" class="titleDiv">
      Orthodontics
    </div>
    <div *ngIf="currentSection == 9" class="contentDiv">
      9
    </div>
  </li>
  <li>
    <div (click)="changeSection(10)" class="titleDiv">
      Perio
    </div>
    <div *ngIf="currentSection == 10" class="contentDiv">
      10
    </div>
  </li>
  <li>
    <div (click)="changeSection(11)" class="titleDiv">
      Pros
    </div>
    <div *ngIf="currentSection == 11" class="contentDiv">
      11
    </div>
  </li>
  <li>
    <div (click)="changeSection(12)" class="titleDiv">
      Sleep Apnea
    </div>
    <div *ngIf="currentSection == 12" class="contentDiv">
      12
    </div>
  </li>
</ul>