header {
    background-color: rgba(239,242,136,0.3);
    padding: 25px 10px 10px 10px;
    margin: 0 0 0 0;
}

#logoContainer {
    margin-top: 5px;
    display: inline-block;

}

#navDiv {
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

nav ul {
    margin: 0px 0px;
    text-align: center;
}

nav li {
    display: inline;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    cursor: pointer;
}

nav li a {
    color: black;
    text-decoration: none;
}

nav li a:hover {
    color: #505050;
    text-decoration: underline;
}

.bottomText {
    text-align: center;
}

#downLoadApp {
    text-align: center;
    cursor: pointer;
}

#downLoadApp img {
    width: 100px;
    height: auto;
}

footer {
    text-align: center;
}

.footerDiv {
    display: inline-block;
    text-align: left;
    margin: 3px 3px;
    vertical-align: top;
}

.footerDiv ul {
    vertical-align: top;
    margin-top: 0px;
}

.footerDiv ul li {
    padding: 5px 2px 5px 2px;
    margin-top: 0px;
}

@media only screen and (min-width: 321px) and (max-device-width: 768px) {
    nav li {
        display: inline;
        font-size: 24px;
        margin-right: auto;
        margin-left: auto;
        padding: 0px 10px 0px 10px;
        text-align: center;
    }
}

/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    nav li {
        display: inline;
        font-size: 20px;
        margin-right: auto;
        margin-left: auto;
        padding: 0px 5px 0px 5px;
        text-align: center;
    }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
}