<header>
  <div class="container" id="logoContainer">
    <a routerLink="/sign-in" class="logo">{{appTitle}}</a>
  </div>
  <div id="navDiv">
    <nav>
      <ul>
        <li *ngIf="!base.signedIn" id="signInTag"><a routerLink="/sign-in">Login</a></li>
        <li *ngIf="base.signedIn" id="signInTag"><a (click)="base.logOut()">Logout</a></li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>
<footer>
</footer>