<form method="post" enctype="multipart/form-data">
  <input type="file" name="files" single (change)="handleFileInput($event.target.files)"/>
  <input type="submit" value="Upload File" name="submit" (click)="submitUpload()"/>
  <button (click)="submitUpload()">Upload</button>
</form>

