#paymentOptionFrame {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: auto;
    max-width: 90vw;
    text-align: center;
}

.accessDiv {
    vertical-align: top;
    display: inline-block;
    padding: 10px 10px;
    margin: 15px 15px;
    width: 300px;
    height: 400px;
    border-radius: 3px;
    border: 2px solid black;
    background-color: #FFFFFF;
    text-align: center;
    position: relative;
}

.accessName {
    padding: 5px 5px;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

.accessDescription {
    padding: 5px 5px;
    font-size: 16px;
    text-align: center;
}

#buttonDiv {
    position: absolute;
    width: 150px;
    bottom: 2px;
    left: 84px;
}

#list {
    text-align: left;
}

.leftName {
    margin: 5px 0px;
    font-size: 18px;
    padding: 5px 5px;
    border: 1px solid black;
}

.rightStatus {
    border: 1px solid black;
}

.hasAccessModule {
    color: green;
}

.noAccessModule {
    color: red;
}