<div id="paymentOptionFrame">
  <div id="container">
    <div *ngFor="let access of accessType;" class="accessDiv" id="{{'accessid'+access['id']}}">
      <div class="accessName">{{access['name']}}</div>
      <div class="accessDescription">{{access['description']}}</div>
      <div class="accessPrice">${{access['cost']}}/month</div>
      <div id="list">
        <table>
          <tr *ngFor="let module of modules;">
            <td class="leftName">
              <div>{{module['name']}}</div>
            </td>
            <td class="rightStatus"
              [ngClass]="(module['parent_access'].includes(access['access_num']))?'hasAccessModule':'noAccessModule'"><i
                class="material-icons">{{(module['parent_access'].includes(access['access_num']))?'check':'close'}}</i>
            </td>
          </tr>
        </table>
      </div>
      <div id="buttonDiv">
        <button *ngIf="access['compareAccess'] == 'noAccess'" (click)="upgrade(access['access_num'])">Upgrade</button>
        <button *ngIf="access['compareAccess'] == 'hasAccess'"
          (click)="downgrade(access['access_num'])">Downgrade</button>
      </div>
    </div>
  </div>