#userSection {
    padding: 20px 10px;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
}

#searchDiv {
    display: inline-block;
    padding: 0px 10px 10px 0px;
}

.inlineBlock {
    display: inline-block;
}

.inputDiv {
    margin-bottom: 10px;
}

.serachInput {
    width: 200px;
    height: 25px;
    padding: 1px 3px;
    margin-right: 5px;
}

.inputDiv label {
    display: inline-block;
    width: 120px;
}

.inputDiv select {
    height: 25px;
}

#userSection #infocontainer {
    margin: auto auto;
    text-align: left;
    display: inline-block;
}

#userSection table {
    background-color: white;
}

#userSection td, th {
    border: 1px solid black;
}

#userSection th {
    cursor: pointer;
}

#moreDiv {
    margin: 10px 0px;
}

.funcButton {
    font-size: 16px;
    margin-right: 5px;
}