<div id="userSection">
      <div id="infocontainer">
            <div id="searchDiv">
                  <div class="inputDiv inlineBlock" *ngIf="advancedSearch == false;">
                        <input class="serachInput" type="text" autocomplete="off" placeholder="Search key" #mainSearch>
                        <div id="searchButtonDiv" class="inlineBlock">
                              <button class="funcButton"
                                    (click)="doMainSearch(mainSearch?.value);">Search</button>
                              <button class="funcButton"
                                    (click)="advancedSearch = !advancedSearch">Advanced Search</button>
                        </div>
                  </div>
                  <div id="advancedSearch" *ngIf="advancedSearch == true;">
                        <div class="inputDiv">
                              <label>ID Range: </label>
                              <input class="serachInput" type="text" autocomplete="off" placeholder="Min ID" #minId>
                              <input class="serachInput" type="text" autocomplete="off" placeholder="Max ID" #maxId>
                        </div>
                        <div class="inputDiv">
                              <label>Access: </label>
                              <select #accessSearch>
                                    <option value="-1" selected>Select Access</option>
                                    <option *ngFor="let eachAccess of accesses;" value="{{eachAccess['access_num']}}">
                                          {{eachAccess['name']}}</option>
                              </select>
                        </div>
                        <div class="inputDiv">
                              <label>Email: </label>
                              <input class="serachInput" type="text" autocomplete="off" placeholder="Email" #email>
                        </div>
                        <div class="inputDiv">
                              <label>First Name: </label>
                              <input class="serachInput" type="text" autocomplete="off" placeholder="First Name" #fName>
                        </div>
                        <div class="inputDiv">
                              <label>Last Name: </label>
                              <input class="serachInput" type="text" autocomplete="off" placeholder="Last Name" #lName>
                        </div>
                        <div class="inputDiv">
                              <label>Activated: </label>
                              <select #activatedSearch>
                                    <option value="noSelection" selected>Select Activation</option>
                                    <option value="true">YES</option>
                                    <option value="false">NO</option>
                              </select>
                        </div>
                        <div class="inputDiv">
                              <label>School: </label>
                              <select #schoolSearch>
                                    <option value="-1" selected>Select School</option>
                                    <option *ngFor="let eachSchool of schools;" value="{{eachSchool['id']}}">
                                          {{eachSchool['name']}}</option>
                              </select>
                        </div>
                        <div class="inputDiv">
                              <label>Registered Range: </label>
                              <input class="serachInput" type="date" #stime> 
                              <input class="serachInput" type="date" #etime>
                        </div>
                        <div id="searchButtonDiv" class="inlineBlock">
                              <button class="funcButton"
                                    (click)="doAdvancedSearch(minId.value,maxId.value,accessSearch.value,email.value,
                              fName.value,lName.value,activatedSearch.value, schoolSearch.value, stime.value, etime.value);">Search</button>
                              <button class="funcButton"
                                    (click)="advancedSearch = !advancedSearch">Cancel</button>
                        </div>
                  </div>


            </div>
            <table>
                  <tr>
                        <th (click)="changeOrder('id',1)">ID<span *ngIf="orderNum==1"><br><i
                                          class="material-icons">keyboard_arrow_down</i></span><span
                                    *ngIf="orderNum==2"><br><i class="material-icons">keyboard_arrow_up</i></span></th>
                        <th (click)="changeOrder('access',3)">Access<span *ngIf="orderNum==3"><br><i
                                          class="material-icons">keyboard_arrow_down</i></span><span
                                    *ngIf="orderNum==4"><br><i class="material-icons">keyboard_arrow_up</i></span></th>
                        <th (click)="changeOrder('user_name',5)">Email<span *ngIf="orderNum==5"><br><i
                                          class="material-icons">keyboard_arrow_down</i></span><span
                                    *ngIf="orderNum==6"><br><i class="material-icons">keyboard_arrow_up</i></span></th>
                        <th (click)="changeOrder('first_name',7)">First Name<span *ngIf="orderNum==7"><br><i
                                          class="material-icons">keyboard_arrow_down</i></span><span
                                    *ngIf="orderNum==8"><br><i class="material-icons">keyboard_arrow_up</i></span></th>
                        <th (click)="changeOrder('last_name',9)">Last Name<span *ngIf="orderNum==9"><br><i
                                          class="material-icons">keyboard_arrow_down</i></span><span
                                    *ngIf="orderNum==10"><br><i class="material-icons">keyboard_arrow_up</i></span></th>
                        <th (click)="changeOrder('activated',11)">Activated?<span *ngIf="orderNum==11"><br><i
                                          class="material-icons">keyboard_arrow_down</i></span><span
                                    *ngIf="orderNum==12"><br><i class="material-icons">keyboard_arrow_up</i></span></th>
                        <th (click)="changeOrder('school',13)">School<span *ngIf="orderNum==13"><br><i
                                          class="material-icons">keyboard_arrow_down</i></span><span
                                    *ngIf="orderNum==14"><br><i class="material-icons">keyboard_arrow_up</i></span></th>
                        <th (click)="changeOrder('registered_time',15)">Registered Time<span *ngIf="orderNum==15"><br><i
                                          class="material-icons">keyboard_arrow_down</i></span><span
                                    *ngIf="orderNum==16"><br><i class="material-icons">keyboard_arrow_up</i></span></th>
                        <th (click)="changeOrder('ip',17)">IP When Registered<span *ngIf="orderNum==17"><br><i
                                          class="material-icons">keyboard_arrow_down</i></span><span
                                    *ngIf="orderNum==18"><br><i class="material-icons">keyboard_arrow_up</i></span></th>


                  </tr>
                  <tr *ngFor="let user of users;">
                        <td>{{user['id']}}</td>
                        <td><select #selection [attr.id]="user['id']" [ngModel]="user['access']"
                                    (ngModelChange)="changeAccess($event,user['id'],user['user_name'],user['access'],selection)">
                                    <option *ngFor="let accesse of accesses;" [ngValue]="accesse['access_num']"
                                          [disabled]="accesse['access_num']==base.adminAccess || user['access'] == base.adminAccess">
                                          {{accesse['name']}} ({{accesse['access_num']}})</option>
                              </select></td>
                        <td>{{user['user_name']}}</td>
                        <td>{{user['first_name']}}</td>
                        <td>{{user['last_name']}}</td>
                        <td>{{(user['activated']==1)?'YES':'NO'}}</td>
                        <td
                              title="{{base.selectValueFromPrompid(schools,'id',user['school'],'city') +', ' + base.selectValueFromPrompid(schools,'id',user['school'],'state')}}">
                              {{base.selectValueFromPrompid(schools,'id',user['school'],'name')}}</td>
                        <td>{{user['registered_time'] | date:'medium'}}</td>
                        <td><a href="https://whatismyipaddress.com/ip/{{user['ip']}}" target="_blank">{{user['ip']}}</a>
                        </td>


                  </tr>
            </table>
            <div id="moreDiv">
                  <button class="funcButton" *ngIf="totalUser > users.length" (click)="getMoreUser()">More
                        {{users.length+'/'+totalUser}}</button>
            </div>

      </div>
</div>