.frontFlip
{
    color: green;
}
.backFlip
{
    color: blue;
}
#bigFrame
{
    padding: 10px 20px;
}
.arrowDiv
{
    min-width: 280px;
    max-width: 760px;
    padding: 3px 10px 3px 10px;
    margin: 10px auto;
}
.arrow
{
    cursor: pointer;
}
.item
{
    cursor: pointer;
    background-color: #CCCCCC;
    border:2px solid #FFFFFF;
    border-radius: 5px;
    min-width: 280px;
    max-width: 760px;
    padding: 3px 10px 3px 10px;
    margin: 10px auto;
}
.name
{
    font-size: 20px;
    background-color: #FFFFFF;
    width:96%;
    margin: 1px auto;
    padding: 8px 10px;
    border:1px solid #000000;
    border-radius: 3px;
}
.selectedItem
{
    background-color: #DDDDDD !important;
}
.description
{
    font-size: 16px;
}
a:link {
  text-decoration: none;
  color:black;
}

a:visited {
  text-decoration: none;
  color:black;
}