<div *ngIf="currentLayer == 1" class="arrowDiv" >
  <i class="material-icons arrow" (click)="changeMode();animationState = animationState === 'out' ? 'in' : 'out';"
    [ngClass]="regularMode?'frontFlip':'backFlip'">{{regularMode?'flip_to_back':'flip_to_front'}}</i>
</div>
<div id="bigFrame" *ngIf="regularMode">
  <div *ngIf="currentLayer > 1" class="arrowDiv">

    <i class="material-icons arrow"
      (click)="currentLayer=currentLayer-1;addParam('layer',currentLayer);">arrow_back</i>
  </div>

  <div id="base2Frame" *ngIf="currentLayer ==1">
    <div *ngFor="let source_base_1_row of source_base_1;" class="item" (click)="clickBase1(source_base_1_row['id']);">
      <div class="name" [ngClass]="(source_base_1_row['id']==selectedBase1)?'selectedItem':''">
        {{source_base_1_row['name']}}
      </div>
      <div class="description" [innerHTML]="source_base_1_row['description']">

      </div>
    </div>
  </div>
  <div id="base1Frame" *ngIf="currentLayer ==2">
    <div *ngFor="let source_base_2_row of source_base_2;" class="item" (click)="clickBase2(source_base_2_row['id'])">
      <div class="name" [ngClass]="(source_base_2_row['id']==selectedBase2)?'selectedItem':''">
        {{source_base_2_row['name']}}
      </div>
      <div class="description" [innerHTML]="source_base_2_row['description']">
      </div>
    </div>
  </div>
  <div id="podcaseFrame" *ngIf="currentLayer ==3">
    <div *ngFor="let podcast_row of podcast;" class="item"
      (click)="selectedPodcast = podcast_row['id'];addParam('podcast',podcast_row['id']);">
      <a href="{{podcast_row['link']}}" target="_blank">
        <div class="name" [ngClass]="(podcast_row['id']==selectedPodcast)?'selectedItem':''">
          {{podcast_row['name']}}
        </div>
        <div class="description" [innerHTML]="podcast_row['description']">
        </div>
      </a>
    </div>
  </div>
</div>
<div id="podcaseFrame" *ngIf="!regularMode">
  <div *ngFor="let podcast_row of allRes['podcast'];" class="item"
    (click)="selectedPodcast = podcast_row['id'];addParam('podcast',podcast_row['id']);"
    title="{{base.selectValueFromPrompid(allRes['source_base_2'],'id',podcast_row['source_base_2'],'name')}};{{base.selectValueFromPrompid(allRes['source_base_1'],'id',base.selectValueFromPrompid(allRes['source_base_2'],'id',podcast_row['source_base_2'],'parent_id'),'name')}}">
    <a href="{{podcast_row['link']}}" target="_blank">
      <div class="name" [ngClass]="(podcast_row['id']==selectedPodcast)?'selectedItem':''">
        {{podcast_row['name']}}
      </div>
      <div class="description" [innerHTML]="podcast_row['description']">
      </div>
    </a>
  </div>
</div>