#topLine {
    width: 100%;
    height: 30px;
    background-color: #eeeeee;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}

#mainFrame {
    overflow-x: auto;
    white-space: nowrap;
    height: calc(100vh - 80px);
    padding: 3px 3px;
    z-index: 0;
}

.source_base_1Frame {
    background-color: #DDDDDD;
    width: 250px;
    display: inline-block;
    margin: 2px 2px;
    padding: 5px 5px;
    padding-bottom: 15px;
    vertical-align: top;
    word-wrap: break-word;
    cursor: move;
}

.source_base_1Title {
    position: relative;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-line;
}

.source_base_1Name {
    font-size: 18px;
    font-weight: 700;
    position: relative;
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    white-space: pre-line;
}

.source_base_1NameSpan {
    display: inline-block;
    width: 80%;
}

.moreSource_base_1 {
    float: right;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
}

.moreSource_base_1:hover {
    float: right;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    background-color: #FFFFFF;
}

.source_base_1Title:hover .source_base_1Description {
    display: inline-block;
}

.source_base_1Description {
    display: none;
    background-color: #EEEEEE;
    width: 230px;
    margin-top: 6px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px 10px;
    white-space: pre-line;
    text-align: left;
    border-radius: 3px;
}

.source_base_1EditInput {
    width: 95%;
    margin-top: 5px;
    height: 25px;
    padding: 1px 3px;
}

.changeSaveButtons {
    font-size: 12px;
    margin: 3px 20px;
}

.source_base_2Frame {
    background-color: #FFFFFF;
    width: 230px;
    margin: 5px 0px;
    padding: 10px 10px;
    white-space: pre-line;
    text-align: left;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

.source_base_2Frame:hover {
    background-color: #EEEEEE;
}

.source_base_2Frame:hover .editSource_base_2 {
    display: inline-block;
}

#addSource_base_1Frame {
    cursor: pointer;
}

.addSource_base_1FrameTextArea {
    width: 100%;
    height: 60px;
    margin: 0px 0px;
}

.editSource_base_1FrameTextArea {
    width: 97%;
    height: 60px;
    margin: 1px 0px;
}

.editPan {
    position: absolute;
    right: 0px;
    top: 0px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 2px;
    border: 1px solid #dddddd;
    display: none;
}

.borderClass {
    border: 1px solid red;
}

.buttonContainerModule12 {
    text-align: center;
}

.buttonContainerModule12 button {
    font-size: 16px;
    margin: 0px 15px;
}

.funcButton {
    font-size: 16px;
    margin: 0px 15px;
}

.addsource_base_2Frame {
    text-align: center !important;
    padding-top: 0px;
    padding-bottom: 2px;
    height: 18px;
}

#addSource_base_1Frame {
    padding-top: 0px;
    padding-bottom: 0px;
}

#window {
    position: fixed;
    z-index: 90;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0px;
    left: 0px;
    cursor: pointer;
    overflow-y: auto;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: center;
}

#popupWindow {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    min-width: 300px;
    max-width: 800px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    cursor: default;
}

#popupWindow .bigSide {
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
}

#directionDiv {
    display: inline-block;
    padding: 0px 0px 0px 0px;
    margin: 3px 0px 0px 0px;
    width: 80px;
}

#directionDiv i {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 10px;
    width: 30px;
    font-size: 20px;
    font-weight: 100px;
    cursor: pointer;
    position: relative;
    text-align: center;
}

#directionDiv .right {
    float: right;
}

#directionDiv .left {
    float: left;
}

#directionDiv i:hover {
    background-color: #CCCCCC;
}

#popupWindow #leftSide {
    width: 100%;
    min-width: 280px;
    max-width: 550px;
}

#popupWindow #rightSide {
    width: 245px;
    vertical-align: top;
    margin-top: 45px;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

table {
    border-collapse: separate;
    border-spacing: 0 15px;
    width: 100%;
}

.leftTD {
    width: 40px;
    text-align: center;
}

.rightTD {
    width: calc(100% - 48px);
    min-width: 237px;
    max-width: 510px;
}

.rightTDTitle {
    font-size: 18px;
    display: inline-block;
    padding-left: 5px;
    font-weight: 800;
    position: relative;
    width: 294px;
}


.rightTDText {
    position: relative;
}

.popUpDiscriptionEdit:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.desEditIcon {
    line-height: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 2px;
    border: 1px solid #dddddd;
}

#windowName {
    margin-top: 10px;
    font-size: 22px;
    display: inline-block;
    padding-left: 5px;
    font-weight: 800;
}

#card {
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 9;
}

#card li {
    padding-left: 0px;
    margin-left: 0px;
    margin: 5px 10px;
}

#card li div {
    padding: 5px 5px;
    width: 220px;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 600;
    z-index: 150;
}

.source_popup_right_1_divNot {
    display: none;
}

.source_popup_right_1_divYes {
    background-color: #ebeef0;
    cursor: pointer;
}

.source_popup_right_1_divYes:hover {
    background-color: #cccccc;
    cursor: pointer;
}

#card span {
    font-size: 12px;
    font-weight: 200px;
}

#secondPopup {
    background-color: #ebeef0;
    margin-left: 10px;
    width: 230px;
    margin-top: 0px;
    margin-bottom: 5px;
    z-index: 200;
    padding: 10px 0px;
}

#secondPopup .pupTopic {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

#secondPopup ul {
    margin-left: 0px;
    padding-left: 0px;
}

.itmeListAdmin {
    list-style-type: none;
}

.itmeListNonAdmin {
    list-style-type: none;
}

.itemListDrag {
    cursor: grab;
}

.itemListdelete {
    cursor: pointer;
    color: red;
}

.itemListadd {
    cursor: pointer;
    color: green;
    text-align: center;
    margin-left: 100px;
}

.rightTD:hover .editpopupLeft {
    display: inline-block;
}

.editpopupLeftAddTopic {
    margin-right: 20px;
}

.sdboLinkDiv {
    background-color: #BBBBBB;
    width: 300px;
    min-height: 90px;
    cursor: pointer;
}
.sdboAttDiv {
    background-color: #BBBBBB;
    width: 300px;
    min-height: 50px;
}
.sdboLinkDivTopic {
    background-color: #BBBBBB;
    margin-right: 20px;
    min-height: 70px;
}
.pointer
{
    cursor: pointer;
}
.rightTDTitleAddTopic {
    font-size: 18px;
    padding-left: 5px;
    font-weight: 800;
    position: relative;
}
.editTopicName
{
    display: none;
}
.rightTDTitleAddTopic:hover .editTopicName{
    display: inline-block;
}
.rightTDTitleAtt:hover .editTopicName{
    display: inline-block;
}
.podcastLink:hover .editTopicName {
    display: inline-block;
}
.editTopicDes
{
    display: none;
}
.hover:hover .editTopicDes{
    display: inline-block;
}
.hover:hover span{
    background-color: #eeeeee;
}
.sdboLinkDivNameTopic {
    margin: 5px 10px;
    width: calc(100% - 42px);
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    min-height: 50px;
    background-color: #FFFFFF;
    display: inline-block;
}
.sdboLinkDivNameTopic:hover .editTopicName {
    display: inline-block;
}
.hover:hover span {
    background-color: #eeeeee;
}
.sdboLinkDivName {
    margin: 5px 10px;
    width: 260px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    min-height: 50px;
    background-color: #FFFFFF;
    display: inline-block;
}
.sdboAttDivName {
    margin: 5px 10px;
    width: 260px;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    min-height: 50px;
    background-color: #FFFFFF;
    display: inline-block;
    cursor: pointer;
}
.sdboAttDivName {
    position: relative;
}
.sdboAttDivDes {
    padding: 5px 10px;
    font-weight: 600;
}
.sdboAttDivName:hover .editsdboAttDivAtt {
    display: inline-block;
}
.podcastLink {
}
.podcastLink a {
    line-height: 24px;
    vertical-align: top;
    margin-top: 0px;
    padding-top: 0px;
}
.podcastLink .editTopicName {
    line-height: 24px;
    vertical-align: top;
    margin-top: 0px;
    padding-top: 0px;
}
.podcastLink i {

}
@media only screen and (min-width: 321px) and (max-device-width: 768px) {
    nav li {
        display: inline;
        font-size: 24px;
        margin-right: auto;
        margin-left: auto;
        padding: 0px 10px 0px 10px;
        text-align: center;
    }
}

/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
}