<div id="topLine" *ngIf="false">Some info

</div>
<!--big frame-->
<div id="mainFrame" cdkDropList cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="newOrdersource_base_1($event)">
  <!-- source_base_1 big horizental inline box start-->
  <div *ngFor="let source_base_1_row of source_base_1;" class="source_base_1Frame"
    id="{{'source_base_1'+source_base_1_row['id']}}" #source_base_1_elment cdkDrag>
    <!--title for horizental inlie box-->
    <div class="source_base_1Title">
      <div class="source_base_1Name" cdkDragHandle><span
          [ngClass]="(base.canEdit)?'source_base_1NameSpan':''">{{source_base_1_row['name']}}</span><i
          *ngIf="base.canEdit" class="material-icons moreSource_base_1"
          (click)="moreClicksource_base_1(source_base_1_row['id'])">more_horiz</i></div>

      <div class="source_base_1Description" *ngIf="base.canEdit && source_base_1IconId == source_base_1_row['id']">
        <input id="{{'source_base_1TitleId'+source_base_1_row['id']}}" class="source_base_1EditInput"
          *ngIf="base.canEdit" type="text" name="fname" value="{{source_base_1_row['name']}}" autocomplete="off">

        <ckeditor [editor]="Editor" data="{{source_base_1_row['description']}}" tagName="textarea" id="editor"
          (change)="changeBase1Des($event,source_base_1_row['id'])"></ckeditor>
        <button (click)="changesource_base_1(source_base_1_row['id'])" class="changeSaveButtons">Save</button><button
          (click)="deleteTopic(source_base_1_row['id'])" class="changeSaveButtons">Delete</button>
      </div>
      <div class="source_base_1Description" [innerHTML]="source_base_1_row['description']"></div>
    </div>
    <!--source_base_2 vertical long inline box inside big horizental box-->
    <div cdkDropList (cdkDropListDropped)="newOrdersource_base_2($event,source_base_1_row['id'])">
      <div class="source_base_2Frame" *ngFor="let source_base_2Row of getSecondLayer(source_base_1_row['id']);"
        id="{{'source_base_2'+source_base_2Row['id']}}" (click)="openWindow(source_base_2Row['id'])" cdkDrag>
        <i *ngIf="base.canEdit" class="material-icons editSource_base_2 editPan"
          (click)="editsource_base_2(source_base_2Row['id'])" (click)="$event.stopPropagation()">edit</i>
        <span>{{source_base_2Row['name']}}</span>
        <div *ngIf="base.canEdit && editsource_base_2Box == source_base_2Row['id']" (click)="$event.stopPropagation()">
          <input id="{{'source_base_2TitleId'+source_base_2Row['id']}}" class="source_base_1EditInput" type="text"
            name="fname" value="{{source_base_2Row['name']}}" autocomplete="off">
          <button class="changeSaveButtons" (click)="changesource_base_2(source_base_2Row['id'])">Save</button><button
            (click)="deletesource_base_2(source_base_2Row['id'])" class="changeSaveButtons">Delete</button>
        </div>
      </div>
    </div>
    <!--add item for vertical inline boxes, only for admin -->
    <div *ngIf="base.canEdit" class="source_base_2Frame addsource_base_2Frame"
      (click)="showaddSource_base_2(source_base_1_row['id'])">
      {{(addSource_base_2Display ==source_base_1_row['id'])?'-':'+'}}
    </div>
    <div class="source_base_2Frame" *ngIf="base.canEdit && addSource_base_2Display ==source_base_1_row['id']">
      <textarea class="addSource_base_1FrameTextArea" #nameSource_base_2 name="addSource_base_2textArea_Name"
        id="addSource_base_2textAreaid{{source_base_1_row['id']}}" placeholder="Name"></textarea>
    </div>
    <div class="source_base_2Frame" *ngIf="base.canEdit && addSource_base_2Display ==source_base_1_row['id']">
      <div class="buttonContainerModule12">
        <button (click)="saveItemIntopic(source_base_1_row['id'])">Save</button>
      </div>
    </div>
  </div>
  <!--add item for horizental big inline boxes, only for admin -->
  <div *ngIf="base.canEdit" class="source_base_1Frame" id="addSource_base_1Frame">
    <form>
      <div class="source_base_1Title">
        <div class="source_base_1Name" id="addsource_base_1Button"
          (click)="addSource_base_1Display=!addSource_base_1Display;">
          {{(addSource_base_1Display)?'-':'+'}}</div>
        <div class="source_base_2Frame" *ngIf="addSource_base_1Display">
          <textarea class="addSource_base_1FrameTextArea" name="addSource_base_1textAreaName_Name" id="nameBase_1"
            placeholder="Name" [(ngModel)]='addSource_base_1textAreaName'></textarea>
        </div>
        <div class="source_base_2Frame" *ngIf="addSource_base_1Display">
          <ckeditor [editor]="Editor" tagName="textarea" id="editor" (change)="addBase1Des($event)"></ckeditor>
        </div>
        <div class="source_base_2Frame" *ngIf="addSource_base_1Display">
          <div class="buttonContainerModule12">
            <button (click)="saveTopic()">Save</button>
            <button (click)="addSource_base_1Display=!addSource_base_1Display;">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
<!--pop up start -->
<div id="window" *ngIf="windowDisplay" (click)="closeWindow()">
  <div id="container">
    <div id="popupWindow" (click)="$event.stopPropagation()">
      <div id="leftSide" class="bigSide">
        <div *ngIf="backward.length > 0 || forward.length > 0" id="directionDiv">
          <i class="material-icons left" *ngIf="backward.length > 0" (click)="backwardFunc()">arrow_back</i>
          <i class="material-icons right" *ngIf="forward.length > 0" (click)="forwardFunc()">arrow_forward</i>
        </div>

        <table class="" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="newOrderPopLeft($event)">
          <tr>
            <td class="leftTD"><i class="material-icons">description</i></td>
            <td class="rightTD">
              <div id="windowName">{{base.selectValueFromPrompid(source_base_2,'id',selectedBase2,'name')}}</div>
              <div class="rightTDText">
                {{base.selectValueFromPrompid(source_base_1,'id',(base.selectValueFromPrompid(source_base_2,'id',selectedBase2,'parent_id')),'name')}}
              </div>
            </td>
          </tr>
          <tr>
            <td class="leftTD"><i class="material-icons">reorder</i></td>
            <td class="rightTD">
              <div class="rightTDTitle">Description</div>

              <div class="rightTDText" id="popUpDiscription">
                <div *ngIf="!editDesMode" (click)="(base.canEdit)?editDesMode=true:editDesMode=false"
                  [ngClass]="(base.canEdit)?'popUpDiscriptionEdit':''">
                  <i *ngIf="base.canEdit" class="material-icons desEditIcon">edit</i>
                  <span
                    [innerHTML]="base.selectValueFromPrompid(source_base_2,'id',selectedBase2,'description')"></span>
                </div>


                <div class="" *ngIf="editDesMode">
                  <ckeditor [editor]="Editor" tagName="textarea"
                    data="{{base.selectValueFromPrompid(source_base_2,'id',selectedBase2,'description')}}"
                    (change)="changeDescirption($event)"></ckeditor>
                  <div class="">
                    <button class="funcButton" (click)="saveDescirption()">Save</button>
                    <button class="funcButton" (click)="editDesMode=false">Cancel</button>
                  </div>
                </div>
              </div>
            </td>
          </tr>








          <tr *ngFor="let source_popup_left_1Item of source_popup_left_1;" cdkDrag>
            <td class="leftTD"><i class="material-icons" [ngClass]="base.canEdit? 'itemListDrag':null"
                cdkDragHandle>library_books</i>
            </td>
            <td class="rightTD" *ngIf="source_popup_left_1Item['type']==1">
              <div class="rightTDTitle">SDBO Link
                <i *ngIf="base.canEdit" class="material-icons editpopupLeft editPan"
                  (click)="edit_pop_left_2(source_popup_left_1Item['id'])" (click)="$event.stopPropagation()">delete</i>

              </div>
              <div class="rightTDText sdboLinkDiv" (click)="changePup(source_popup_left_1Item['linked_item'])">
                <div class="sdboLinkDivName">
                  {{base.selectValueFromPrompid(source_base_2,'id',source_popup_left_1Item['linked_item'],'name')}}
                </div>
                <div class="sdboLinkDivParent">
                  {{base.selectValueFromPrompid(source_base_1,'id',(base.selectValueFromPrompid(source_base_2,'id',source_popup_left_1Item['linked_item'],'parent_id')),'name')}}
                </div>
              </div>
            </td>
            <td class="rightTD" *ngIf="source_popup_left_1Item['type']==2">
              <div class="rightTDTitle">Attachment
                <i *ngIf="base.canEdit" class="material-icons editpopupLeft editPan"
                  (click)="edit_pop_left_2(source_popup_left_1Item['id'])" (click)="$event.stopPropagation()">delete</i>

              </div>
              <div class="rightTDText sdboLinkDiv">
                <a href="{{source_popup_left_1Item['link']}}" target="_blank">
                  <div class="sdboLinkDivName">
                    {{source_popup_left_1Item['name']}}

                  </div>
                  <div class="sdboLinkDivParent">
                  </div>
                </a>
              </div>
            </td>
            <td class="rightTD" *ngIf="source_popup_left_1Item['type']==3">
              <div class="rightTDTitleAddTopic" [ngClass]="(base.canEdit)?'pointer hover':''"
                *ngIf="!(editTopicTitleMode && edittopictitleNum==source_popup_left_1Item['id'])"
                (click)="(base.canEdit)?editTopicTitleMode=true:'';edittopictitleNum = source_popup_left_1Item['id'];editTopicContentMode=false;">
                <i *ngIf="base.canEdit"
                  class="material-icons desEditIcon editTopicName">edit</i><span>{{source_popup_left_1Item['name']}}</span>

                <i *ngIf="base.canEdit" class="material-icons editpopupLeft editPan editpopupLeftAddTopic"
                  (click)="edit_pop_left_2(source_popup_left_1Item['id'])" (click)="$event.stopPropagation()">delete</i>
              </div>
              <div class="rightTDTitleAddTopic"
                *ngIf="editTopicTitleMode && edittopictitleNum==source_popup_left_1Item['id']">
                <textarea class="editSource_base_1FrameTextArea"
                  id="rightTDTitleAddTopic{{source_popup_left_1Item['id']}}" placeholder="Name"
                  value="{{source_popup_left_1Item['name']}}" autocomplete="off"></textarea>
                <button class="funcButton"
                  (click)="savePopUpLeftTopicTitle(source_popup_left_1Item['id'])">Save</button>
                <button class="funcButton" (click)="editTopicTitleMode=!editTopicTitleMode">Cancel</button>
              </div>
              <div class="rightTDText sdboLinkDivTopic">
                <div class="sdboLinkDivNameTopic" [ngClass]="(base.canEdit)?'pointer hover':''"
                  *ngIf="!(editTopicContentMode && edittopicContentNum==source_popup_left_1Item['id'])"
                  (click)="(base.canEdit)?editTopicContentMode=true:'';edittopicContentNum = source_popup_left_1Item['id'];editTopicTitleMode=false">
                  <i *ngIf="base.canEdit" class="material-icons desEditIcon editTopicDes">edit</i>
                  <span [innerHTML]="source_popup_left_1Item['link']"></span>
                </div>
                <div class="sdboLinkDivNameTopic"
                  *ngIf="editTopicContentMode && edittopicContentNum==source_popup_left_1Item['id']">
                  <ckeditor [editor]="Editor" data="{{source_popup_left_1Item['link']}}" tagName="textarea"
                    (change)="popUpSaveTopicDes($event,source_popup_left_1Item['id'])"></ckeditor>
                  <button class="funcButton"
                    (click)="savePopUpLeftTopicDes(source_popup_left_1Item['id'])">Save</button>
                  <button class="funcButton" (click)="editTopicContentMode=!editTopicContentMode">Cancel</button>
                </div>
              </div>
            </td>
            <td class="rightTD" *ngIf="source_popup_left_1Item['type']==4">
              <div class="rightTDTitle rightTDTitleAtt" [ngClass]="(base.canEdit)?'pointer hover':''"
                *ngIf="!(editTopicTitleMode && edittopictitleNum==source_popup_left_1Item['id'])"
                (click)="(base.canEdit)?editTopicTitleMode=true:'';edittopictitleNum = source_popup_left_1Item['id'];editTopicContentMode=false;">
                <i *ngIf="base.canEdit"
                  class="material-icons desEditIcon editTopicName">edit</i><span>{{source_popup_left_1Item['name']}}</span>

                <i *ngIf="base.canEdit" class="material-icons editpopupLeft editPan"
                  (click)="edit_pop_left_2(source_popup_left_1Item['id'])" (click)="$event.stopPropagation()">delete</i>

              </div>
              <div class="rightTDTitleAddTopic"
                *ngIf="editTopicTitleMode && edittopictitleNum==source_popup_left_1Item['id']">
                <textarea class="editSource_base_1FrameTextArea"
                  id="rightTDTitleAddTopic{{source_popup_left_1Item['id']}}" placeholder="Name"
                  value="{{source_popup_left_1Item['name']}}" autocomplete="off"></textarea>
                <button class="funcButton"
                  (click)="savePopUpLeftTopicTitle(source_popup_left_1Item['id'])">Save</button>
                <button class="funcButton" (click)="editTopicTitleMode=!editTopicTitleMode">Cancel</button>
              </div>
              <div class="rightTDText sdboAttDiv">



                <div class="sdboAttDivName" *ngIf="editAttFileNum!=source_popup_left_1Item['id']"
                  (click)="downLoadAtt(source_popup_left_1Item['id'],source_popup_left_1Item['name'],source_popup_left_1Item['extension'])">
                  Download<br>({{source_popup_left_1Item['extension']}}) <i *ngIf="base.canEdit"
                    class="material-icons editsdboAttDivAtt editPan"
                    (click)="cancelEdit();editAttFileNum=source_popup_left_1Item['id'];"
                    (click)="$event.stopPropagation()">edit</i>
                </div>
                <div class="sdboAttDivName" *ngIf="editAttFileNum==source_popup_left_1Item['id']">
                  <input type="file" name="files" single (change)="handleFileInput($event.target.files)" />
                  <button class="funcButton" (click)="changeUploadFile(source_popup_left_1Item['id'])">Save</button>
                  <button class="funcButton" (click)="cancelEdit();">Cancel</button>
                </div>

                <div class="sdboAttDivDes" [ngClass]="(base.canEdit)?'pointer hover':''"
                  *ngIf="!(editTopicContentMode && edittopicContentNum==source_popup_left_1Item['id'])"
                  (click)="cancelEdit();(base.canEdit)?editTopicContentMode=true:'';edittopicContentNum = source_popup_left_1Item['id'];editTopicTitleMode=false">
                  <i *ngIf="base.canEdit" class="material-icons desEditIcon editTopicDes">edit</i>
                  <span [innerHTML]="source_popup_left_1Item['link']"></span>
                </div>
                <div class="sdboLinkDivNameTopic"
                  *ngIf="editTopicContentMode && edittopicContentNum==source_popup_left_1Item['id']">
                  <ckeditor [editor]="Editor" data="{{source_popup_left_1Item['link']}}" tagName="textarea"
                    (change)="popUpSaveTopicDes($event,source_popup_left_1Item['id'])"></ckeditor>
                  <button class="funcButton"
                    (click)="savePopUpLeftTopicDes(source_popup_left_1Item['id'])">Save</button>
                  <button class="funcButton" (click)="cancelEdit();">Cancel</button>
                </div>
              </div>
            </td>
          </tr>






          <tr *ngIf="base.canEdit">
            <td class="leftTD"><i class="material-icons">library_add</i></td>
            <td class="rightTD">
              <div class="rightTDTitle">Add Item</div>
              <div class="rightTDText">
                <select [ngModel]="selectedPopUpLeftAddItem"
                  (ngModelChange)="selectedPopUpLeftAddItem = $event;base.scrollToButtomDiv('window');">
                  <option value="0" selected disabled>Select type</option>
                  <option value="1">Add Card</option>
                  <option value="2">Add Link</option>
                  <option value="3">Add Topic</option>
                  <option value="4">Add Attachment</option>
                </select>
                <div *ngIf="selectedPopUpLeftAddItem == 1">
                  <select [ngModel]="selectedPopUpLeftAddItemBase1"
                    (ngModelChange)="selectedPopUpLeftAddItemBase1 = $event;base.scrollToButtomDiv('window');">
                    <option value="0" selected disabled>Category list</option>
                    <option *ngFor="let source_base_1Item of source_base_1;" value="{{source_base_1Item['id']}}">
                      {{source_base_1Item['name']}}</option>
                  </select><br>
                  <select [ngModel]="selectedPopUpLeftAddItemBase2"
                    (ngModelChange)="selectedPopUpLeftAddItemBase2 = $event;base.scrollToButtomDiv('window');"
                    *ngIf="selectedPopUpLeftAddItemBase1 != 0">
                    <option value="0" selected disabled>Item list</option>
                    <option *ngFor="let source_base_2Item of getSecondLayer(selectedPopUpLeftAddItemBase1);"
                      value="{{source_base_2Item['id']}}">{{source_base_2Item['name']}}</option>
                  </select>
                  <div *ngIf="selectedPopUpLeftAddItemBase2 != 0">
                    <button class="funcButton" (click)="savePopUpLeftAddItem()">Save</button>
                    <button class="funcButton"
                      (click)="selectedPopUpLeftAddItemBase2 =0; selectedPopUpLeftAddItemBase1 =0; selectedPopUpLeftAddItem = 0;">Cancel</button>
                  </div>

                </div>
                <div *ngIf="selectedPopUpLeftAddItem == 2">
                  <input class="source_base_1EditInput" type="text" name="fname" autocomplete="off" placeholder="Name"
                    #savePopUpLeftAddLinkName>
                  <input class="source_base_1EditInput" type="text" name="fname" autocomplete="off" placeholder="Link"
                    #savePopUpLeftAddLinkLink>
                  <div>
                    <button class="funcButton"
                      (click)="savePopUpLeftAddLink(savePopUpLeftAddLinkName.value,savePopUpLeftAddLinkLink.value)">Save</button>
                    <button class="funcButton" (click)="selectedPopUpLeftAddItem=0;">Cancel</button>
                  </div>
                </div>


                <div *ngIf="selectedPopUpLeftAddItem == 3">
                  <input class="source_base_1EditInput" type="text" name="fname" autocomplete="off" placeholder="Name"
                    #savePopUpLeftAddTopicName>
                  <ckeditor [editor]="Editor" (change)="popUpAddtopicDes($event)" tagName="textarea"></ckeditor>
                  <div>
                    <button class="funcButton"
                      (click)="savePopUpLeftAddTopic(savePopUpLeftAddTopicName.value)">Save</button>
                    <button class="funcButton" (click)="selectedPopUpLeftAddItem=0;">Cancel</button>
                  </div>
                </div>
                <div *ngIf="selectedPopUpLeftAddItem == 4">
                  <input type="file" name="files" single (change)="handleFileInput($event.target.files)" />
                  <input class="source_base_1EditInput" type="text" name="fname" autocomplete="off" placeholder="Title"
                    #savePopUpLeftAddAttTitle>
                  <ckeditor [editor]="Editor" (change)="popUpAddAttDes($event)" tagName="textarea"></ckeditor>
                  <div>
                    <button class="funcButton" (click)="submitpdfUpload(savePopUpLeftAddAttTitle.value)">Save</button>
                    <button class="funcButton" (click)="cancelEdit();">Cancel</button>
                  </div>
                </div>
              </div>
            </td>
          </tr>












        </table>
      </div>
      <div id="rightSide" class="bigSide">
        <div id="closeButtonDiv" class="close" (click)="closeWindow()"></div>
        <ul style="list-style-type:none;" id="card">
          <li *ngFor="let source_popup_right_1Elem of source_popup_right_1;" id="{{source_popup_right_1Elem['id']}}"
            class="source_popup_right_1">
            <div class="source_popup_right_1_div"
              [ngClass]="getArticleCount(source_popup_right_1Elem['id']) ==0 && !base.canEdit? 'source_popup_right_1_divNot' : 'source_popup_right_1_divYes'" 
              (click)="opensource_popup_right_1(source_popup_right_1Elem['id'])">
              {{source_popup_right_1Elem['name']}} <span>({{getArticleCount(source_popup_right_1Elem['id'])}})</span>
            </div>
          </li>
        </ul>
        <div id="secondPopup" *ngIf="Selectedsource_popup_right_1 !=0">
          <div class="pupTopic">
            {{base.selectValueFromPrompid(source_popup_right_1,'id',Selectedsource_popup_right_1,'name')}}</div>
          <ul cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="newOrdersource_popup_right_2($event)">
            <li class="itmeListAdmin">
              <i *ngIf="base.canEdit" class="material-icons itemListadd"
                (click)="areaShowSource_popup_right_2()">{{(addArticleAreOpen)?'remove':'add'}}</i>
            </li>
            <div *ngIf="base.canEdit && addArticleAreOpen">
              <input id="source_popup_right_2name" #source_popup_right_2name class="source_base_1EditInput" type="text"
                name="name" value="" placeholder="  Name" autocomplete="off">
              <input id="source_popup_right_2des" #source_popup_right_2des class="source_base_1EditInput" type="text"
                name="name" value="" placeholder="  Description" autocomplete="off">
              <input id="source_popup_right_2link" #source_popup_right_2link class="source_base_1EditInput" type="text"
                name="name" value="" placeholder="  Link" autocomplete="off">
              <button class="changeSaveButtons"
                (click)="source_popup_right_2Save(source_popup_right_2name.value,source_popup_right_2des.value,source_popup_right_2link.value)">Save</button>
            </div>
            <li cdkDrag *ngFor="let source_popup_right_2Links of source_popup_right_2;"
              [ngClass]="(base.canEdit)?'itmeListAdmin':'itmeListNonAdmin'">
              <div class="podcastLink" *ngIf="editPodcastNum != source_popup_right_2Links['id']">
                <i *ngIf="base.canEdit" (click)="deletesource_popup_right_2(source_popup_right_2Links['id'])"
                  class="material-icons itemListdelete">remove_circle_outline</i><i *ngIf="base.canEdit"
                  class="material-icons itemListDrag" cdkDragHandle>reorder</i>&nbsp;&nbsp;
                <i *ngIf="base.canEdit" class="material-icons desEditIcon editTopicName"
                  (click)="editPodcastNum = source_popup_right_2Links['id']">edit</i>

                <a target="_blank" href="{{source_popup_right_2Links['link']}}"
                  title="{{source_popup_right_2Links['description']}}">{{source_popup_right_2Links['name']}}</a>
              </div>
              <div *ngIf="base.canEdit && editPodcastNum == source_popup_right_2Links['id']">
                <input id="source_popup_right_2name{{source_popup_right_2Links['id']}}" class="source_base_1EditInput"
                  type="text" name="name" value="{{source_popup_right_2Links['name']}}" placeholder="  Name"
                  autocomplete="off">
                <input id="source_popup_right_2des{{source_popup_right_2Links['id']}}" class="source_base_1EditInput"
                  type="text" name="name" value="{{source_popup_right_2Links['description']}}"
                  placeholder="  Description" autocomplete="off">
                <input id="source_popup_right_2link{{source_popup_right_2Links['id']}}" class="source_base_1EditInput"
                  type="text" name="name" value="{{source_popup_right_2Links['link']}}" placeholder="  Link"
                  autocomplete="off">
                <button class="changeSaveButtons"
                  (click)="source_popup_right_2Edit(source_popup_right_2Links['id'])">Save</button>
                <button class="changeSaveButtons" (click)="editPodcastNum = 0;">Cancel</button>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>