html{font-size:16px;background:url(background.8ca8fa2467a6770c4726.jpg) center center/cover no-repeat fixed}body{padding:0;margin:-20px 0 0}button{font-size:24px;padding:3px 8px;background-color:#eff288;color:#000;cursor:pointer}