html {
    background-color: #F0FFF0;
    font-size: 16px;
    background: url(assets/img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding: 0 0 0 0;
    margin: -20px 0 0 0;
}

button {
    font-size: 24px;
    padding: 3px 8px 3px 8px;
    background-color: #EFF288;
    color: black;
    cursor: pointer;
}
.ck-editor__main
{
    cursor:text;
}