.section
{
padding: 20px 20px;
font-size: 24px;
color:#000000;

}

.section td
{
padding: 1px 5px;

}
.greyText
{
    color:#333333;
}
input{
    display: inline-block;
    width:200px;
    padding: 0px 0px 0px 5px;
    height: 30px;
    margin-top: 10px;
}
.activeButton
{
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    margin-right: 10px;
}
.infoSectionButton
{
    padding: 2px 5px 2px 5px;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 16px;
    background-color: transparent;
    text-decoration: underline;
    border:none;
}
td div
{
    padding-top: 3px;
    padding-left: 5px;
    color:#980E0E;
    font-size: 16px;
}