<div id="manForgetFrame">
  <div id="forgetFram">
    <h2>Forgot Password</h2>
    <form #f="ngForm">
      <table>
        <tr>
          <td>
            <label class="label" for="mail">E-mail:</label>
          </td>
          <td>
            <input class="input" (change)="inputChange(emailInput.value)" type="email" #emailInput id="mail"
              name="user_mail" placeholder="E-mail" required ngModel email />
            <div>{{emailAlert}}</div>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <button id="sendPassButton"
              (click)="submitForgotPass(emailInput.value)">Email Link</button>
            <div>{{submitValidation}}</div>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <a routerLink="./../register" class="routerLink">Register</a>
          </td>
        </tr>

        <tr>
          <td>
          </td>
          <td>
            <a routerLink="./../sign-in" class="routerLink">Sign in</a>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <app-advertise></app-advertise>
</div>