<div id="manRegisterFrame">
  <div id="registerFram">
    <h2>Register</h2>
    <form #registerForm="ngForm">
      <table>

        <tr>
          <td>
            <label class="label" for="first-name">First Name:</label>
          </td>
          <td>
            <input class="input" type="first-name" id="first-name" name="user_first-name" placeholder="First Name"
              #firstNameInput (change)="firstNameChange(firstNameInput.value)" [(ngModel)]='first_name_value' />
            <div>{{first_name}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <label class="label" for="last-name">Last Name:</label>
          </td>
          <td>
            <input class="input" type="last-name" id="last-name" name="user_last-name" placeholder="Last Name"
              #lastNameInput (change)="lastNameChange(lastNameInput.value)" [(ngModel)]='last_name_value' />
            <div>{{last_name}}</div>
          </td>
        </tr>


        <tr>
          <td>
            <label class="label" for="school">School:</label>
          </td>
          <td>
            <select #selectedSchool>
              <option disabled selected value="0">Your Dental School</option>
              <option title="{{school['city'] + ', ' + school['state']}}" *ngFor="let school of schools;"
                [value]="school['id']">{{school['name']}}</option>
            </select>
            <div>{{schoolAlert}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <label class="label" for="mail">E-mail:</label>
          </td>
          <td>
            <input class="input" type="email" id="mail" name="user_mail" placeholder="E-mail" #emailInput
              (change)="emailChange(emailInput.value)" [(ngModel)]='email_value' />
            <div>{{emailAlert}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <label class="label" for="new-password">Password:</label>
          </td>
          <td>
            <input required class="input" type="password" name='new-password-name' autocomplete="new-password"
              id="new-password" placeholder="New Password" #newPasswordInput
              (change)="newPasswordChange(newPasswordInput.value)" [(ngModel)]='pass_value' />
            <div>{{newPass}}</div>
          </td>
        </tr>
        <tr>
          <td>
            <label class="label" for="confirm">Confirm:</label>
          </td>
          <td>
            <input required class="input" type="password" name='confirm-name' id="confirm" autocomplete="new-password"
              placeholder="Confirm" #confirmInput (change)="confirmChange(newPasswordInput.value,confirmInput.value)"
              [(ngModel)]='confirm_value' />
            <div>{{confirm}}</div>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <button [disabled]="registrationComplete" id="registerButtonID"
              (click)="submitRegister(firstNameInput.value,lastNameInput.value,emailInput.value, newPasswordInput.value,confirmInput.value,selectedSchool.value)">Register</button>
            <div>{{registerValidation}}</div>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <a routerLink="./../sign-in" class="routerLink">Sign in</a>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
            <a routerLink="./../forget-password" class="routerLink">Forget Password</a>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <app-advertise></app-advertise>
</div>