<div class="addItems leftItem">
  advertisement here.
  <ul>
    <li> first item</li>
    <li> first item</li>
    <li> first item</li>
    <li> first item</li>
    <li> first item</li>
  </ul>
</div>

<div  class="addItems rightItem">
  advertisement here.
  <ul>
    <li> second item</li>
    <li> second item</li>
    <li> second item</li>
    <li> second item</li>
    <li> second item</li>
  </ul>
</div>
